@model ProyectoFinal2020v2.Models.Empleado
@{
    ViewData["Title"] = "Delete";
}

<h4 class="container p-3 my-3 bg-danger text-white text-center rounded-l"><i class="fas fa-trash"></i> Eliminar Empleado</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeEmp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoDeEmp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBancario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroBancario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ccss)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ccss)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profesion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaContrato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaContrato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEmpleado" />
        <input type="button" onclick=" return ConfirmarEliminar()" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
